# render.yaml
services:
  - type: web
    name: student-result-api
    env: node
    region: oregon # or singapore, frankfurt, etc.
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/health
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false # Will set in dashboard
